# SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'
SERVER = 'http://api.us.faceplusplus.com/'
API_KEY = '4c764c549faf0186ba0377f829411227'
API_SECRET = 'P4E7XwSTt50RkX2JFyRuBRNIk2mPDkgW'
